## 네이버 환율 데이터 분석 
 - 네이버 환율 정보 사이트 https://finance.naver.com/marketindex/exchangeList.naver     
 -pip install beautiful4
 -pip install html5lb
 -pip install lxml
 -pip install openpyxl

 ## 판다스란
  - 패널 데이터와 Python데이터 분석의 이름을 따서 명명
  - 고수준의 자료구조 제공,파이썬을 통해 빠른 데이터 분석 도구
  - Numpy기반에서 개발되어 Numpy를 사용하는  애플리케이션 쉽게 적용
  - 오픈소스 Python 프로젝트


  - pandas import 하는 법
    - import pandas as pd


 - 주요 구성 요소 : Series, DataFrame, Index
    - Series : 1개의 컬럼 값만으로 1차원 데이터셋
    - DataFrame : Column X Row 2차원 데이터셋
    -  Index : Series, DataFrame 의 고유한 Key 값

In [30]:
import pandas as pd

In [31]:
url = "https://finance.naver.com/marketindex/exchangeList.naver"

In [32]:
tables = pd.read_html(url, encoding = "euc-kr")
tables
len(tables)
tables[0]

c:\PythonLab240718\pythonbasic\lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

              통화명    매매기준율       현찰                송금           미화환산율
              통화명    매매기준율     사실 때     파실 때    보내실 때    받으실 때  미화환산율
0          미국 USD  1367.50  1391.43  1343.57  1380.90  1354.10  1.000
1        유럽연합 EUR  1474.85  1504.19  1445.51  1489.59  1460.11  1.079
2   일본 JPY (100엔)   913.52   929.50   897.54   922.47   904.57  0.668
3          중국 CNY   188.64   198.07   179.21   190.52   186.76  0.138
4          홍콩 HKD   174.99   178.43   171.55   176.73   173.25  0.128
5          대만 TWD    41.74    47.20    37.57      NaN      NaN  0.031
6          영국 GBP  1747.87  1782.30  1713.44  1765.34  1730.40  1.278
7          오만 OMR  3556.57  3805.52  3307.62      NaN      NaN  2.601
8         캐나다 CAD   988.61  1008.08   969.14   998.49   978.73  0.723
9         스위스 CHF  1561.61  1592.37  1530.85  1577.22  1546.00  1.142
10        스웨덴 SEK   127.72   131.93   120.44   128.99   126.45  0.093
11         호주 AUD   891.40   908.96   873.84   900.31   882.49  0.652
12       뉴질랜드 NZD   812.23   828.23   796.23   820.35   804.11  0.594
13         체코 CZK    57.91    62.83    52.70    58.54    57.28  0.042
14         칠레 CLP     1.45     1.59     1.31      NaN      NaN  0.001
15       튀르키예 TRY    41.26      NaN      NaN    41.71    40.81  0.030
16         몽골 MNT     0.40      NaN      NaN      NaN      NaN  0.000
17       이스라엘 ILS   359.93   395.92   331.14      NaN      NaN  0.263
18        덴마크 DKK   197.65   204.17   186.39   199.62   195.68  0.145
19       노르웨이 NOK   125.49   129.63   118.34   126.74   124.24  0.092
20    사우디아라비아 SAR   364.47   387.43   339.33   368.11   360.83  0.267
21       쿠웨이트 KWD  4474.95  4765.82  4116.96  4519.69  4430.21  3.272
22        바레인 BHD  3627.90  3860.08  3337.67  3664.17  3591.63  2.653
23     아랍에미리트 AED   372.31   392.78   346.63   376.03   368.59  0.272
24        요르단 JOD  1930.00  2101.77  1775.60      NaN      NaN  1.411
25        이집트 EGP    28.08      NaN      NaN      NaN      NaN  0.021
26         태국 THB    38.40    40.32    36.10    38.78    38.02  0.028
27       싱가포르 SGD  1022.20  1042.54  1001.86  1032.42  1011.98  0.748
28      말레이시아 MYR   299.20   321.34   277.06      NaN   296.21  0.219
29  인도네시아 IDR 100     8.44     9.28     7.60     8.52     8.36  0.006
30        카타르 QAR   374.91      NaN      NaN      NaN      NaN  0.274
31      카자흐스탄 KZT     2.88      NaN      NaN      NaN      NaN  0.002
32       브루나이 BND  1022.20  1063.08   960.87      NaN      NaN  0.748
33         인도 INR    16.33      NaN      NaN      NaN      NaN  0.012
34       파키스탄 PKR     4.91      NaN      NaN      NaN      NaN  0.004
35      방글라데시 BDT    11.64      NaN      NaN      NaN      NaN  0.009
36        필리핀 PHP    23.45    25.79    21.53    23.68    23.22  0.017
37        멕시코 MXN    73.21    80.89    65.53    73.94    72.48  0.054
38        브라질 BRL   241.69   266.34   217.53      NaN   238.79  0.177
39    베트남 VND 100     5.42     6.05     4.79     5.47     5.37  0.004
40  남아프리카 공화국 ZAR    74.88    80.87    68.89    75.77    73.99  0.055
41        러시아 RUB    15.95    17.46    13.16    16.50    15.40  0.012
42        헝가리 HUF     3.73     4.07     3.44     3.77     3.69  0.003
43        폴란드 PLN   343.69   371.18   316.20   347.47   339.91  0.251
44       스리랑카 LKR     4.52      NaN      NaN      NaN      NaN  0.003
45        알제리 DZD    10.14      NaN      NaN      NaN      NaN  0.007
46         케냐 KES    10.56      NaN      NaN      NaN      NaN  0.008
47       콜롬비아 COP     0.34      NaN      NaN      NaN      NaN  0.000
48       탄자니아 TZS     0.51      NaN      NaN      NaN      NaN  0.000
49         네팔 NPR    10.21      NaN      NaN      NaN      NaN  0.008
50       루마니아 RON   296.40      NaN      NaN      NaN      NaN  0.217
51        리비아 LYD   282.83      NaN      NaN   285.65   280.01  0.207
52        마카오 MOP   169.81      NaN      NaN      NaN      NaN  0.124
53        미얀마 MMK     0.65      NaN      NaN      NaN      NaN  0.001
54      에티오피아 ETB    17.15      NaN      NaN      NaN      NaN  0.013
55     우즈베키스탄 UZS     0.11      NaN      NaN      NaN      NaN  0.000
56       캄보디아 KHR     0.33      NaN      NaN      NaN      NaN  0.000
57         피지 FJD   605.39      NaN      NaN      NaN      NaN  0.443

## 네이버 환율정보  엑셀 저장

In [33]:
#html은 테그를 사용하는데 브라우저가 인터프리터의 역할을 합니다. 
#브라우저는 같은 이름의 객체가 2개 이상이면 자동으로 배열로 변경 해줍니다. 
df = tables[0]

In [34]:
# 오늘 날짜 시간 정보를 지원하는 라이브러리   
from datetime import datetime
datetime.now()

datetime.datetime(2024, 8, 1, 18, 3, 48, 783050)

In [35]:
currtime = datetime.now()
df.to_excel("네이버 환율 정보_"+ currtime.strftime("%Y-%m-%d") + ".xlsx", index=True)

In [36]:
import pandas as pd
df2 = pd.DataFrame({'A':[1, 2, 3]})

In [37]:
import pandas as pd
#판다스 표준 출력하기
print(pd.__version__)

2.2.2

In [38]:
df2

   A
0  1
1  2
2  3

In [39]:
df2["A"]

0    1
1    2
2    3
Name: A, dtype: int64

# 환율 정보에 대한 시각화
## pip install matpoltlib
## pip install seaborn

In [44]:
import pandas as pd
import matplotlib as plt

df.plot(figsize=(7.4),title="네이버 환율 정보", grid=True,)

AttributeError: module 'matplotlib' has no attribute 'get_data_path'